# [Images]
POSTGRES_IMAGE=
REDIS_IMAGE=
ZIPKIN_IMAGE=
KEYCLOAK_IMAGE=

# [Ports]
POSTGRES_PORT=5432
REDIS_PORT=6379
ZIPKIN_PORT=9411
KEYCLOAK_PORT=9090

# [Database Setup]
DB_USERNAME=
DB_PASSWORD=
DB_NAME=

# [Keycloak Setup]
KC_ADMIN_USER=
KC_ADMIN_PASSWORD=